$breakpoints: (
  xl: 1200px,
  lg: 1024px,
  md: 768px,
  sm: 640px,
);

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @if $size {
    @media only screen and (max-width: $size) {
      @content;
    }
  } @else {
    @error "#{$key} does not exist in the \$breakpoints map";
  }
}
